// Colours
$primaryColour:				#5910B3;
$backgroundPrimaryColour: 	#FFFFFF;
$white:						#FFFFFF;
$black:                     #000000;

// Brand Colours
$facebookColour:			#3B5998;
$twitterColour:				#4099FF;
$pinterestColour:			#C92228;

// Text colours
$primaryTextColour:			$primaryColour;
$secondaryTextColour:		#000000; // to be revised
$tertiaryTextColour:		#FFFFFF;
