@mixin fontSize($size) {
    font-size: #{$size}em;
    font-size: #{$size}rem;
}
@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}
@mixin topToBottomLinearGradient($startColour, $endColour) {
    background: $startColour; // Old browsers
    background: -moz-linear-gradient(top,  $startColour 0%, $endColour 100%); // FF3.6+
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$startColour), color-stop(100%,$endColour)); // Chrome,Safari4+
    background: -webkit-linear-gradient(top,  $startColour 0%,$endColour 100%); // Chrome10+,Safari5.1+
    background: -o-linear-gradient(top,  $startColour 0%,$endColour 100%); // Opera 11.10+
    background: -ms-linear-gradient(top,  $startColour 0%,$endColour 100%); // IE10+
    background: linear-gradient(to bottom,  $startColour 0%,$endColour 100%); // W3C
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$startColour}', endColorstr='#{$endColour}',GradientType=0 ); // IE6-9
}
@mixin addParentSelector($selector, $currentNesting) {
  @at-root #{$selector} #{$currentNesting} {
    @content;
  }
}
@mixin desktopMaxWidth {
    max-width:44em;
    max-width:70rem;
}