blockquote {
    @include fontSize(1.6);
    font-style:italic;
    line-height:1.6;
    max-width:41em;
    max-width:65rem;
    padding:20px;
    position:relative;
    &:before {
        content:attr(data-before);
        font-family:Georgia, serif;
        @include fontSize(30);
        left:-90px;
        line-height:1;
        opacity:.3;
        padding:0 50px; // iOS bug
        position:absolute;
        top:-30px;
    }
    &:after {
        bottom: -200px;
        content:attr(data-after);
        font-family:Georgia, serif;
        @include fontSize(30);
        line-height:1;
        opacity:.3;
        padding:0 50px; // iOS bug
        position:absolute;
        right:-50px;
    }
}