.event {
	.panel {
		overflow: hidden; // to clear floated imagery
		padding-bottom:20px;
		padding-top:20px;
		&:first-child {
			padding-bottom: 0;
		}
		+ .panel {
			border-top:none;
		}
	}
	.hotel-list {
		margin: 30px 0;
		li {
			+ li {
				border-top: 1px dashed $primaryColour;
				padding-top: 20px;
			}
		}
	}
	img {
		margin:20px 0;
		width:100%;
	}
	.in-paragraph {
		width:47%;
	}
	.img-left {
		float: left;
		margin-right:20px;
		+ .img-right {
			margin-left:0;
		}
	}
	.img-right {
		float: right;
		margin-left:20px;
	}
	.full-width-img {
		margin:0;
		width:100%;
	}
	.match-width {
		margin-left:auto;
		margin-right:auto;
		@include desktopMaxWidth;
		overflow: hidden;
	}
}