.event {
	.panel {
		padding-bottom:20px;
		padding-top:20px;
		&:first-child {
			padding-bottom: 0;
		}
		+ .panel {
			border-top:none;
		}
	}
	.hotel-list {
		margin: 30px 0;
		li {
			+ li {
				border-top: 1px dashed $primaryColour;
				padding-top: 20px;
			}
		}
	}
	img {
		margin:20px 0;
		width:100%;
	}
	.full-width-img {
		margin:0;
		width:100%;
	}
}