.global-header {
    background:$primaryColour;
    border-bottom:2px solid $primaryColour;
    color:$white;
    min-height:56px;
    position: fixed;
    top:0;
    width:100%;
    z-index:2;
    .homeLink {
        float:left;
        margin-right:40px;
        a {
            font-family:$headingFontStack;
            @include fontSize(3);
            padding:13px 40px;
        }
    }
}
@include mobile {
    .global-header {
        .homeLink {
            margin-right:0;
            a {
                padding-left:15px;
                padding-right:15px;
            }
        }
    }
}