.event {
	.hotel-list {
		margin-left: auto;
		margin-right: auto;
		@include desktopMaxWidth;
	}
	img {
		display:block;
		margin-left:auto;
		margin-right:auto;
		@include desktopMaxWidth;
	}
	.full-width-img {
		margin: 40px -40px;
		max-width: calc(100% + 40px);
		width: calc(100% + 40px);
	}
	article {
		figure {
			margin-left:-40px;
			margin-right:-40px;
			width: calc(100% + 80px);
			&:before {
				margin-top:240px;
			}
		}
		iframe {
			min-height:500px;
		}
	}
}