.weddingCountdown {
	background-position: 93% 72%;
	margin-top: 125px;
	margin-left: auto;
	margin-right: auto;
	@include desktopMaxWidth;
	min-height:400px;
	&:after {
		bottom:18%;
		left:7%;
	}
    p {
        margin: 0 auto;
    }
	.remaining-time {
		@include fontSize(8);
		span {
			&:nth-child(4) {
				min-width: 145px;
				text-align:left;
			}
		}
	}
	.btn-primary {
		&:hover {
			i {
				color: $pinterestColour;
			}
		}
	}
}
.clearfix-small-only:after {
	content: none;
	clear:none;
	display:inline;
}