.people {
	blockquote {
		margin: 0 auto;
		@include desktopMaxWidth;
	}
	img {
		float:none;
		left:0;
		height:260px;
		margin-left:0;
		position:absolute;
		top:30px;
		width:260px;
	}
	dl {
	}
	.brideAndGroom {
		> li {
			margin: 0 auto;
    		max-width: 25em;
			max-width: 40rem;
			min-height:320px;
			padding-left:300px;
			position:relative;
		}
	}
	.bridalParty {
		img {
			top:40px;
		}
		> li {
			margin: 0 auto;
    		max-width: 25em;
			max-width: 40rem;
			min-height:300px;
			padding-left:300px;
			padding-top:40px;
			position:relative;
		}
	}
}