<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home &ndash; PhilAndSteph.co.uk</title>
    <link rel="stylesheet" type="text/css" href="/css/small-screens.css">
    <link rel="stylesheet" type="text/css" href="/css/large-screens.css" media="(min-width: 768px) and (min-device-width: 768px)">
</head>
<body>
    <div id="container" class="container">
        <%- markup -%>
    </div>
    <script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>