// icons
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello/font/fontello.eot?65842752');
  src: url('../fonts/fontello/font/fontello.eot?65842752#iefix') format('embedded-opentype'),
       url('../fonts/fontello/font/fontello.woff?65842752') format('woff'),
       url('../fonts/fontello/font/fontello.ttf?65842752') format('truetype'),
       url('../fonts/fontello/font/fontello.svg?65842752#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

// disney font
@font-face {
  font-family: 'disney';
  src:url('../fonts/disney/icomoon.eot?tn9luy');
  src:url('../fonts/disney/icomoon.eot?tn9luy#iefix') format('embedded-opentype'),
    url('../fonts/disney/icomoon.ttf?tn9luy') format('truetype'),
    url('../fonts/disney/icomoon.woff?tn9luy') format('woff'),
    url('../fonts/disney/icomoon.svg?tn9luy#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}