// encoding
@charset "UTF-8";

// utilities
@import "../utils/_sass-setup";

nav {
	ul {
		display: block !important; // temp until class handling added
	}
}

// overwrites
.weddingCountdown {
	min-height:500px;
	> section {
		margin-top: 125px;
	}
	.remaining-time {
		@include fontSize(8);
		span {
			&:nth-child(4) {
				min-width: 145px;
				text-align:left;
			}
		}
	}
}
.clearfix-small-only:after {
	content: none;
	clear:none;
	display:inline;
}