// Base Styles
html {
    font-size:62.5%; // rem basis
}
body {
    background:$primaryColour;
    color: $primaryTextColour;
    font-family:$primaryFontStack;
}
.skipLinks {
    z-index:2;
    a {
        background: white;
        left:-999em;
        position:absolute;
        top:-999em;
        padding:18px;
        z-index:2;
        &:focus {
            border:2px solid orange;
            left:0;
            position:absolute;
            top:0;
        }
    }
}
main {
    background:$white;
    padding-top:60px;
}
h1 {
    font-family:$headingFontStack;
    @include fontSize(5);
    line-height: 1.3;
    margin:0 0 40px;
}
h2 {
    font-family:$headingFontStack;
    @include fontSize(3.4);
    margin:0 0 30px;
    text-decoration:underline;
}
h3 {
    font-family:$headingFontStack;
    @include fontSize(2);
    margin:0 0 30px;
    text-decoration: underline;
}
p {
    @include fontSize(1.6);
    line-height:1.5;
    max-width:44em;
    max-width:70rem;
    + p {
        margin-top:30px;
    }
}
p + a,
p + dl {
    margin-top:30px;
}
a {
    color: inherit;
    @include fontSize(1.6);
    text-decoration:none;
}
li {
    @include fontSize(1.6);
    @include addParentSelector('.textList', &) {
        padding-bottom: 5px;
        &:before {
            content: '\e824';
            font-family: fontello;
            margin-right:10px;
        }
    }
}
dt {
    @include fontSize(1.6);
    font-weight:bold;
    margin:0 0 5px;
}
dd {
    @include fontSize(1.6);
    margin:0 0 20px;
}
blockquote {
    @include fontSize(1.6);
    font-style:italic;
    line-height:1.6;
    max-width:41em;
    max-width:65rem;
    padding:20px;
    position:relative;
    &:before {
        content:attr(data-before);
        font-family:Georgia, serif;
        @include fontSize(30);
        left:-90px;
        line-height:1;
        opacity:.3;
        padding:0 50px; // iOS bug
        position:absolute;
        top:-30px;
    }
    &:after {
        bottom: -200px;
        content:attr(data-after);
        font-family:Georgia, serif;
        @include fontSize(30);
        line-height:1;
        opacity:.3;
        padding:0 50px; // iOS bug
        position:absolute;
        right:-50px;
    }
}
strong {
    font-weight: bold;
}
.textLink {
    text-decoration: underline;
    &:hover,
    &:focus {
        text-decoration:none;
    }
}
.hidden {
    display:none;
}
.mblImg {
    background: {
        position:50% 50%;
        size:100%;
    }
    width:100%;
}

// Accessibility
.access {
    position:absolute;
    left: $accessLeft;
}
.accessText {
    text-indent: $accessLeft;
}

@include mobile {
    .container {
        height:auto;
    }
    .skipLinks {
        display:none;
    }
    main {
        height: auto;
    }
    h1 {
        @include fontSize(4);
        line-height:1.1;
        margin:0 0 20px;
    }
    h2 {
        @include fontSize(3);
        margin:0 0 15px;
    }
    p {
        + p,
        + dl {
            margin-top:15px;
        }
    }
    .mblImg {
        margin:0 0 20px;
        padding-top:75%;
        &.portrait {
            padding-top:133%;
        }
    }
}